<h3>About The Society</h3>


<p>This website is designed for you to meet and interact with fellow Groot fans in an uplifting environment.
  Find news, events, photos, and other Groot-related features in the groot society database. Please
    feel free to Contact the Society for News and Updates! <br />
    Questions, Comments, Complaints? Contact <a href="mail:tmaestas@armchairbitcoinist.com">Groot Society Moderator</a>
</p>
<button (click)="greeting()">Contact</button>
<p id="info">
  Groot Fans UNITE!
</p>
