<br />
<h3 class="groot-title">Groot Literature</h3>
<!-- <app-book> -->
<hr>

<div  *ngIf="grootList" >
    <!-- <input type="number" [(ngModel)] = "id"> -->
    <!-- <label>isbn</label>
    <input type="text" [(ngModel)] = "isbn"> -->

    <label class="add" >Author</label>
    <input type="text" id="author" [(ngModel)] = "author"><br />

    <label  class="add">Title</label>
    <input type="text" id="title" [(ngModel)] = "title"><br />

    <label class="add">Publisher</label>
    <input type="text" id="name" [(ngModel)] = "name"><br />

    <label  class="add">Type</label>
    <input type="text" id="type" [(ngModel)] = "type">
    <!-- <p *ngIf="!validInputs">{{validation}}</p>  -->
      <p>{{validateFields(author,title,name,type)}}</p>

    <button class="button-add"   (click) = "addGroot()">Add Groot Entries</button><br />
</div>
<hr>
        <div class="form-group">
          <label for="genreFilter"  ><h6>Filter</h6></label>
          <select class="form-control" id="genreFilter" [(ngModel)]="genreFilter">
            <option value="Essay">Essay</option>
            <option value="Metafiction">Metafiction</option>
            <option value="Classic">Classic</option>
            <option value="Western">Western</option>
            <!-- <option value="Suspense\/Thriller">Suspense/Thriller</option> -->
            <option value="Legend">Legend</option>
            <option value="Folklore">Folklore</option>
            <option value="Mythology">Mythology</option>
            <option value="Textbook">Textbook</option>
            <!-- <option value="Tall\ tale">Tall tale</option> -->
            <!-- <option value="Fiction\ in\ verse">Fiction in verse</option> -->
            <option value="Horror">Horror</option>

          </select>
          <br />

<button  class="button-update" (click)="filterByDBGroot()">Filter by Genre</button>&nbsp;
<button  class="button-update pull-right" (click) = "displayAllGroot()">Clear Filter</button>
        </div>
<br /><br />
<table *ngIf="grootList" class="groot-table">
    <tr>
        <!-- <th>Id</th> -->
        <th>Author</th>
        <th class="title">Title</th>
        <th>Publisher</th>
        <th>Type</th>
    </tr>
    <tr *ngFor = "let groot of grootList">
        <!-- <td>{{groot.id}}</td> -->
        <td >{{groot.author}}</td>
        <td>{{groot.title}}</td>
        <td  class="publisher">{{groot.name}}</td>
        <td>{{groot.type}}</td>

    </tr>
</table>
